@import url(reset.css);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic);
body{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    max-width: 1920px;
    margin: 0 auto;
    min-width: 320px;
}
.wrap{
    width: 1170px;
    min-width: 320px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: white;
}
/*============================================================================================*/
.article{
    height: 783px;
    position: relative;
}
.article > .wrap{
    padding-top: 15px;
}
.article-header, .article-content, .article2-header, .article3-content, .article4-content, .article4-footer, .article5-content, .article6-content,
.article7-content, .article8-content, .carousel-item, .article11-content > .wrap{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
}
.article-header h2{
    text-transform: uppercase;
    font-weight: 700;
    width: 340px;
    color: white;
    line-height: 24px;
}
.article-header p{
    font-weight: 700;
    width: 330px;
    text-align: center;
    font-size: 14px;
    color: white;
    line-height: 18px;
}
.article-header p a{
    font-size: 16px;
    display: block;
    padding: 7px 25px;
    border: 2px solid white;
    width: 175px;
    margin: 10px auto 0;
    font-weight: 400;
}
.article-header h3{
    font-weight: 700;
    width: 225px;
    text-align: center;
    color: white;
    font-size: 24px;
}
.article-header h3 a{
    margin-top: 21px;
    font-size: 16px;
    display: block;
    padding: 9px 25px;
    font-weight: 400;
    border: 2px solid white;
}
.article-content{
    padding-top: 0;
    margin-top: 200px;
    width: 710px;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
}
.article-content h1{
    color: white;
    font-size: 60px;
    font-weight: 700;
    line-height: 82px;
    text-transform: uppercase;
    text-shadow: 0px 5px 0px rgba(0, 0, 0, 1);
}
.article-content p{
    margin-top: 14px;
    color: white;
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;
}
.article-content p a{
    margin-top: 35px;
    width: 370px;
    text-align: center;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    background-color: #e8df0d;
    display: block;
    padding: 20px 28px;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}
/*============================================================================================*/
.article2{
    background-color:  #f3f3f3;
    padding-top: 30px;
}
.article2-header{
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
}
.article2-header-item{
    width: 240px;
    text-align: center;
    padding-bottom: 50px;
}
.article2-header-item p{
    font-weight: 700;
    font-size: 20px;
    color: #464646;
    margin-top: 12px;
}
/*============================================================================================*/
.article3{
    background-color: white;
}
.article3-content{
    background: url("../images/article3-content-top-bg.png")no-repeat center top, url("../images/article3-content-bottom-bg.png")no-repeat center bottom;
}
.article3-left{
    width: 465px;
    height: 480px;
    background: url("../images/article3-left-bg.png")no-repeat right bottom;
    padding-left: 35px;
    padding-top: 35px;
}
.article3-left p{
    font-weight: 700;
    font-size: 48px;
    color: #464646;
}
.article3-right{
    width: 460px;
}
.article3-right ul li{
    height: 52px;
    line-height: 22px;
    margin-top: 65px;
}
.article3-right ul li p{
    font-weight: 700;
    font-size: 18px;
    color: #464646;
    padding-left: 70px;
}
.article3-right-img{
    background: url("../images/article3-right-img.png")no-repeat left center;
}
.article3-right-img2{
    background: url("../images/article3-right-img2.png")no-repeat left center;
}
.article3-right-img3{
    background: url("../images/article3-right-img3.png")no-repeat left center;
}
.article3-right-img4{
    background: url("../images/article3-right-img4.png")no-repeat left center;
}
/*============================================================================================*/
.article4{
    background: url("../images/article4-bg.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 532px;
    padding-top: 40px;
    color: white;
}
.article4 h2{
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    background: url("../images/article4-h2-bg.png")no-repeat center bottom;
    padding-bottom: 45px;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.article4-content{
    margin-bottom: 30px;
}
.article4-item{
    width: 225px;
    text-align: center;
    background: url("../images/article4-item-bg.png")no-repeat center top;
    padding-top: 55px;
}
.article4-item p{
    line-height: 24px;
}
.article4-footer{
    text-transform: uppercase;
    margin-top: 66px;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
}
.article4-footer > p{
    width: 355px;
    text-align: right;
    line-height: 27px;
}
.article4-footer a{
    width: 370px;
    background-color: #389e07;
    display: block;
    padding: 18px 0;
    text-align: center;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}
/*============================================================================================*/
.article5{
    background: url("../images/article3-content-top-bg.png")no-repeat center top, url("../images/article3-content-bottom-bg.png")no-repeat center bottom, #ececec;
    padding-top: 40px;
}
.article5 h2{
    font-weight: 700;
    font-size: 48px;
    color: #464646;
    text-align: center;
    margin-bottom: 55px;
}
.article5-content{
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: relative;
    height: 365px;
}
.article5-content-item p, .article5-content-item2 p, .article5-content-item3 p{
    color: #000000;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}
.article5-content-item p{
    position: absolute;
    top: 20px;
    left: 0;
}
.article5-content-item2 p{
    position: absolute;
    top: 20px;
    right: 0;
}
.article5-content-item3 p{
    position: absolute;
    top: 0;
    right: 0;
}
.article5-content-item{
    position: absolute;
    bottom: 0;
    left: 56px;
    width: 402px;
    height: 295px;
    background: url("../images/article5-content-item.png")no-repeat right bottom;
}
.article5-content-item2{
    position: absolute;
    bottom: 0;
    left: 489px;
    width: 425px;
    height: 381px;
    background: url("../images/article5-content-item2.png")no-repeat left bottom;
}
.article5-content-item3{
    position: absolute;
    bottom: 0;
    right: 56px;
    width: 425px;
    height: 220px;
    background: url("../images/article5-content-item3.png")no-repeat left bottom;
}
/*============================================================================================*/
.article6{
    background: url("../images/article6-bg.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 781px;
    padding-top: 50px;
}
.article6-left h2{
    font-weight: 700;
    font-size: 48px;
    color: #464646;
    text-transform: uppercase;
    line-height: 57px;
    margin-bottom: 25px;
}
.article6-left h3{
    font-weight: 700;
    font-size: 24px;
    color: #b50000;
    text-transform: uppercase;
    line-height: 27px;
}
.article6-right ul li{
    background: url("../images/article6-right-li.png")no-repeat left top;
    padding-left: 55px;
    margin-bottom: 40px;
}
.article6-right ul li h2{
    padding-top: 6px;
    font-weight: 700;
    font-size: 18px;
    color: #464646;
    margin-bottom: 25px;
}
.article6-right ul li p{
    font-size: 16px;
    color: #464646;
    line-height: 23px;
}
.article6-right > h2{
    font-weight: 700;
    font-size: 30px;
    color: #b50000;
    padding-left: 55px;
    line-height: 36px;
    text-transform: uppercase;
}
/*============================================================================================*/
.article7{
    background: url("../images/article7-bg.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 949px;
    overflow: hidden;
}
.article7-content{
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
}
.article7-left{
    padding-top: 50px;
    width: 525px;
    height: 899px;
    padding-left: 50px;
    background: rgba(255, 255, 255, 0.8);
    outline: 2px solid #FFFFFF;
    outline-offset: 10px;
}

.article7-left ul li{
    background: url("../images/article7-left-li.png")no-repeat left top;
    padding-left: 55px;
    margin-bottom: 15px;
}
.article7-left ul li h2{
    padding-top: 17px;
    font-weight: 700;
    font-size: 18px;
    color: #464646;
    margin-bottom: 25px;
}
.article7-left ul li p{
    font-size: 16px;
    color: #464646;
    line-height: 21px;
}
.article7-left > h2{
    margin-left: 55px;
    font-weight: 700;
    font-size: 30px;
    color: #000000;
    margin-bottom: 30px;
    text-transform: uppercase;
    line-height: 36px;
}
.article7-left > a{
    margin-left: 55px;
    display: block;
    width: 330px;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
    background-color: #55d31e;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}
.article7-right{
    margin-left: 135px;
}
.article7-right h2{
    font-weight: 700;
    font-size: 48px;
    color: #464646;
    margin-top: 62px;
}
/*============================================================================================*/
.article8{
    background: url("../images/article8-bg.png")no-repeat center 214px, url("../images/article3-content-top-bg.png")no-repeat center top, #FFFFFF;
    padding-top: 55px;
    padding-bottom: 20px;
}
.article8 > .wrap > h2{
    font-weight: 700;
    font-size: 48px;
    color: #464646;
    text-align: center;
    margin-bottom: 30px;
}
.article8-content{

}
.article8-item{
    width: 170px;
    padding-top: 175px;
}
.article8-item h2{
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
    margin-bottom: 30px;
}
.article8-item p{
    font-size: 14px;
    color: #464646;
    text-align: center;
    line-height: 25px;
}
.article8-item p a{
    background-color: #f4eb08;
    color: #000000;
    text-transform: uppercase;
    display: block;
    padding: 9px 15px;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}
.article8-item ol{
    font-size: 14px;
    color: #464646;
}
.article8-item ol li{
    line-height: 25px;
}
.article8-item-bg{
    background: url("../images/article8-item.png")no-repeat center 14px;
}
.article8-item-bg2{
    background: url("../images/article8-item2.png")no-repeat center 27px;
}
.article8-item-bg3{
    background: url("../images/article8-item3.png")no-repeat center 53px;
}
.article8-item-bg4{
    background: url("../images/article8-item4.png")no-repeat center 22px;
}
.article8-item-bg5{
    background: url("../images/article8-item5.png")no-repeat center 31px;
}
/*============================================================================================*/
.article9{
    background: url("../images/article9-bg.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 583px;
    padding-top: 35px;
}
.article9-content > h3{
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    margin-bottom: 25px;
}
.article9-content > h2{
    color: #fff;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    margin-bottom: 50px;
}
.carousel-item{
    padding: 30px 0;
}
.carousel-photo{
    width: 200px;
    margin-left: 15px;
    text-align: center;
}
.carousel-photo p{
    margin-top: 15px;
    font-weight: 700;
    font-size: 18px;
    color: #464646;
}
.carousel-content{
    width: 670px;
}
.carousel-content h2{
    font-weight: 700;
    font-size: 18px;
    color: #000000;
    margin-bottom: 25px;
}
.carousel-content p{
    font-size: 16px;
    color: #000000;
    line-height: 26px;
}
.carousel-doc{
    width: 175px;
    margin-right: 15px;
}
/*============================================================================================*/
.article10{
    background: url("../images/article3-content-top-bg.png")no-repeat center top, url("../images/article3-content-bottom-bg.png")no-repeat center bottom, url("../images/article10-bg.png")no-repeat 70% bottom;
}
.article10-content{
    padding: 120px 70px 85px;
}
.article10-content h2{
    font-weight: 700;
    font-size: 48px;
    color: #464646;
    margin-bottom: 27px;
}
.article10-content h3{
    font-weight: 700;
    font-size: 27px;
    color: #464646;
    margin-bottom: 80px;
    line-height: 36px;
}
.article10-content a{
    background-color: #f4eb08;
    color: #000000;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    width: 410px;
    display: block;
    padding: 20px 0;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}
/*============================================================================================*/
.article11-header{
    background-color: #bf1414;
}
.article11-header h2{
    font-weight: 700;
    font-size: 48px;
    color: white;
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
}
.article11-content{
    background-color: #212121;
    padding-bottom: 30px;
}
.article11-content-item{
    width: 335px;
}
.article11-content-item h2{
    font-weight: 700;
    font-size: 18px;
    color: white;
    padding-top: 40px;
    margin-bottom: 103px;
    text-transform: uppercase;
}
.article11-content-item h3{
    font-size: 14px;
    color: white;
}
.article11-content-item2{
    width: 430px;
    height: 190px;
    padding-top: 20px;
}
.article11-content-item3{
    width: 310px;
    text-align: right;
    overflow: hidden;
}
.article11-content-item3 h2{
    font-weight: 700;
    font-size: 24px;
    color: white;
    padding: 45px 0 35px;
}
.article11-content-item3-link{
    align-self: baseline;
}
.article11-content-item3-link{
    width: 224px;
    float: right;
}
.article11-content-item3-link a{
    width: 220px;
    display: block;
    border: 2px solid white;
    padding: 7px 0;
    text-align: center;
    margin-bottom: 45px;
}
.article11-content-item3 p{
    color: white;
    font-size: 14px;
    float: right;
}
/*============================================================================================*/
.bx-viewport{
    height: 337px !important;

    margin: 0 auto;
    background: white;
    -webkit-box-shadow: 0px 0px 37px 11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 37px 11px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 37px 11px rgba(0,0,0,0.75);
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
}
.bx-controls-direction{
    position: relative;
}
.bx-prev{
    background: url("../images/carousel-arrows.png")no-repeat;
    height: 69px;
    width: 19px;
    position: absolute;
    top: -210px;
    left: -35px;
}
.bx-next{
    background: url("../images/carousel-arrows.png")no-repeat -20px 0;
    height: 69px;
    width: 19px;
    position: absolute;
    top: -210px;
    right: -35px;
}
/*============================================================================================*/
.modalMap, .modalPhone, .modalConsultation{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 10000;
    -webkit-transition: opacity 500ms ease-in;
    -moz-transition: opacity 500ms ease-in;
    transition: opacity 500ms ease-in;
    opacity: 0;
    pointer-events: none;
}

.modalMap:target, .modalPhone:target, .modalConsultation:target{
    opacity: 1;
    pointer-events: auto;
}
.modalMap > div{
    margin: -350px 0px 0px -450px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 600px;
}
.modalMap-width{
    width: 100%;
    height: 100%;
    padding: 50px;
}
.modalPhone > div, .modalConsultation > div{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: auto;
    padding: 20px;
    background: #fff;
    margin: -137px 0px 0px -170px;
}
.close-all{
    width: 100%;
    height: 100%;
    display: block;
}
.close {
    display: block;
    color: #c6c6c6;
    line-height: 25px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-left: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
}
.close:hover {
    color: #389E07;
    border-left: 1px solid #389E07;
    border-bottom: 1px solid #389E07;
}
.modalDialog-form h2{
    text-transform: uppercase;
    color: #000000;
    font-size: 22px;
    text-align: center;
    margin-bottom: 30px;
}
.modalDialog-form form input[type='text']{
    margin-bottom: 15px;
}
.modalDialog-form form textarea{
    height: 110px !important;
    padding-top: 10px !important;
}
.modalDialog-form form input[type='text'], .modalDialog-form form textarea, .modalDialog-form form input[type='submit']{
    width: 100%;
    height: 50px;
    background-color: #f1f1f1;
    border: none;
    text-align: center;
    color: #000000;
    font-size: 20px;
    font-family: 'PFDinTextPro-Thin';
    padding: 0;
    resize: none;
}
.modalDialog-form form input[type='submit']{
    background-color: #389E07;
    color: white;
    font-family: 'PFDinTextPro-Medium';
    cursor: pointer;
    margin-top: 0;
}
/*============================================================================================*/
.error {
    outline: 2px solid #FF0000;
    outline-offset: -2px;
    /*-webkit-box-shadow:inset 0 0 5px 1px rgba(255,0,0,1);*/
    /*box-shadow:inset 0 0 5px 1px rgba(255,0,0,1);*/
}
.valid {
    outline: 2px solid #389E07;
    outline-offset: -2px;
}
/*============================================================================================*/
.rslides-box{
    position: absolute;
    list-style: none;
    overflow: hidden;
    width: 100%;
    height: 798px;
    padding: 0;
    margin: 0;
    z-index: -1;
}
.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    height: 798px;
    padding: 0;
    margin: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides div {
    display: block;
    height: 100%;
    height: 798px;
    float: left;
    width: 100%;
    border: 0;
}
.article1-bg{
    background: url("../images/article1-bg.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.article1-bg2{
    background: url("../images/article1-bg2.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*============================================================================================*/
@media screen and (min-width:0) and (max-width:1170px) {
    .wrap{
        width: 100%;
        margin: 0 auto;
    }
    .article-header, .article-content, .article2-header, .article3-content, .article4-content, .article4-footer, .article5-content, .article6-content,
    .article7-content, .article8-content, .carousel-item, .article11-content > .wrap{
        -webkit-justify-content: space-around;
        -moz-justify-content: space-around;
        -ms-justify-content: space-around;
        justify-content: space-around;
    }
    .modalPhone > div, .modalConsultation > div {
        width: 280px;
        margin: -137px 0px 0px -160px;
    }
}



@media screen and (min-width:0) and (max-width:1170px) {
    .article5-content {
        height: 920px;
    }
    .article5-content-item {
        top: 0;
        left: 50%;
        margin-left: -200px;
    }
    .article5-content-item2 {
        bottom: 230px;
        left: 50%;
        margin-left: -212px;
    }
    .article5-content-item3 {
        bottom: 0;
        left: 50%;
        margin-left: -212px;
    }
}
@media screen and (min-width:0) and (max-width:430px) {
    .article5-content-item {
        width: 169px;
        margin-left: -85px;
    }
    .article5-content-item2 {
        width: 169px;
        margin-left: -85px;
    }
    .article5-content-item3 {
        width: 169px;
        margin-left: -85px;
    }
    .article5-content-item3 p {
        top: 20px;
        right: -2px;
    }
    .article5-content-item2 p {
        top: 40px;
        right: -7px;
        width: 184px;
    }
    .article5 h2 {
        font-size: 39px;
    }
}



@media screen and (min-width:0) and (max-width:900px) {
    .article4 {
        height: auto;
    }
    .article4-footer a {
        margin: 30px 0;
        width: 310px;
    }
    .article4 h2 {
        font-size: 31px;
    }
    .article4-footer > p {
        width: 294px;
        text-align: center;
        line-height: 22px;
    }
}



@media screen and (min-width:0) and (max-width:500px) {
    .article3-right {
        width: 310px;
        margin-bottom: 30px;
    }
    .article3-left {
        text-align: center;
        width: auto;
        height: auto;
        padding-top: 35px;
        padding-left: 0;
        background: none;
    }
}



@media screen and (min-width:0) and (max-width:894px) {
    .article-header h2, .article-header p{
        padding-bottom: 30px;
        text-align: center;
    }
    .article-content p a {
        width: 320px;
        padding: 20px 0;
        margin: 35px auto;
    }
    .article-content {
        width: auto;
        text-align: center;
    }
}
@media screen and (min-width:0) and (max-width:730px) {
    .article-content {
        margin-top: 130px;
    }
}
@media screen and (min-width:0) and (max-width:561px) {
    .article-content {
        margin-top: 100px;
    }
    .article-content h1 {
        font-size: 40px;
        line-height: 47px;
    }
    .article-header h3 {
        font-size: 22px;
    }
    .article4-footer a {
        font-size: 14px;
        font-weight: 700;
    }
}
@media screen and (min-width:0) and (max-width:377px) {
    .article-content h1 {
        font-size: 29px;
        line-height: 39px;
    }
}



@media screen and (min-width:0) and (max-width:878px) {
    .article6-left{
        margin-bottom: 30px;
    }
    .article6-left h2, .article6-left h3, .article6-right > h2{
        text-align: center;
        padding: 0;
    }
    .article6 {
        height: auto;
        padding-bottom: 30px;
        background: url("../images/article6-bg.jpg") no-repeat fixed 30% center / cover transparent;
    }
}
@media screen and (min-width:0) and (max-width:400px) {
    .article6-left h2 {
        font-size: 34px;
        line-height: 39px;
    }
}



@media screen and (min-width:0) and (max-width:999px) {
    .article7-right {
        order: -1;
        margin-left: 0;
        width: 426px;
        text-align: center;
    }
    .article7-right h2 {
        margin: 50px 0;
    }
    .article7-left {
        outline: none;
        outline-offset: 0;
    }
    .article7 {
        height: auto;
    }
}
@media screen and (min-width:0) and (max-width:576px) {
    .article7-left > h2 {
        margin-left: 0;
        text-align: center;
        line-height: 31px;
        font-size: 25px;
    }
    .article7-left {
        height: auto;
        padding-bottom: 30px;
        padding-left: 0;
    }
    .article7-left > a {
        margin: 0 auto;
        width: 300px;
    }
    .article7 {
        background: url("../images/article7-bg.jpg") no-repeat fixed 65% center / cover transparent;
    }
}



@media screen and (min-width:0) and (max-width:994px) {
    .article8 > .wrap > h2 {
        font-size: 37px;
        margin-bottom: 39px;
    }
}
@media screen and (min-width:0) and (max-width:849px) {
    .article8 {
        background: none, url("../images/article3-content-top-bg.png") no-repeat scroll center top, none repeat scroll 0% 0% #FFF;
    }
    .article8-item ol li {
        text-align: center;
    }
}
@media screen and (min-width:0) and (max-width:470px) {
    .article8 > .wrap > h2 {
        font-size: 29px;
    }
}



@media screen and (min-width:0) and (max-width:900px) {
    .article10 {
        background: url("../images/article3-content-top-bg.png") no-repeat scroll center top, url("../images/article3-content-bottom-bg.png") no-repeat scroll center bottom, url("../images/article10-bg.png") no-repeat scroll 90% bottom transparent;
    }
    .article10-content {
        padding: 85px 70px 85px;
    }
}
@media screen and (min-width:0) and (max-width:570px) {
    .article10-content {
        padding: 50px 0;
        text-align: center;
    }
    .article10-content a {
        width: 300px;
        margin: 0 auto;
    }
    .article10 {
        background: url("../images/article3-content-top-bg.png") no-repeat scroll center top, url("../images/article3-content-bottom-bg.png") no-repeat scroll center bottom, none;
    }
    .article10-content h3 {
        margin-bottom: 27px;
    }
}



@media screen and (min-width:0) and (max-width:340px) {
    .article11-header h2 {
        font-size: 40px;
    }
}



@media screen and (min-width:0) and (max-width:1074px) {
    .article11-content {
        text-align: center;
    }
    .article11-content-item3 {
        text-align: center;
    }
    .article11-content-item3-link {
        float: none;
        margin: 0 auto;
    }
    .article11-content-item3 p {
        float: none;
    }
    .article11-content-item h2 {
        margin-bottom: 30px;
    }
}
@media screen and (min-width:0) and (max-width:440px) {
    .article11-content-item2 {
        width: 320px;
    }
}



@media screen and (min-width:0) and (max-width:1239px) {
    .bx-prev{
        left: 0;
    }
    .bx-next{
        right: 0;
    }
}
@media screen and (min-width:0) and (max-width:1074px) {
    .carousel-doc {
        display: none;
    }
}
@media screen and (min-width:0) and (max-width:884px) {
    .bx-viewport {
        height: auto !important;
    }
    .carousel-content {
        width: auto;
        text-align: center;
        padding: 0 30px;
    }
    .carousel-photo img{
        display: none;
    }
    .carousel-photo {
        width: auto;
        margin: 30px 0;
    }
    .carousel-item {
        padding: 0 0 30px 0px;
    }
    .article9 {
        height: auto;
        padding: 35px 0;
    }
}
@media screen and (min-width:0) and (max-width:588px) {
    .bx-prev{
        top: -280px;
    }
    .bx-next{
        top: -280px;
    }
}
@media screen and (min-width:0) and (max-width:440px) {
    .bx-prev{
        top: -330px;
    }
    .bx-next{
        top: -330px;
    }
}
@media screen and (min-width:0) and (max-width:350px) {
    .bx-prev{
        top: -380px;
    }
    .bx-next{
        top: -380px;
    }
}



@media screen and (min-width:0) and (max-width:849px) {
    .modalMap > div {
        margin: -200px 0px 0px -300px;
        width: 500px;
        height: 300px;
    }
}
@media screen and (min-width:0) and (max-width:550px) {
    .modalMap > div {
        margin: -200px 0px 0px -200px;
        width: 300px;
        height: 300px;
    }
}


